DATABASE_URL=postgresql://postgres.ddmxswsnbbmuvesexwmn:[password]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=oceanx-models
B2_ENDPOINT=https://s3.ca-east-006.backblazeb2.com
B2_MODEL_PATH=glorys/glorys_janmar2025.nc